
@using System.Web.Mvc.Html
@using SicoWeb.Aplicacion.ServiceLayer.Mantenimiento.Entidades
@using SicoWeb.Plumbing
@inherits SicoWeb.Plumbing.ViewPage<IEnumerable<EntidadServicioMantenimiento>>

@Html.Partial("_Titulo")
<script src="../../../Scripts/js/FormDialog.js" type="text/javascript"></script>
<P>
	@{
		if (((bool) ViewData[ViewDataVariables.MantenimientoAgregable]))
		{
			
			@this.Button("Agregar").Class("createButton").Attr("href",@Url.Action("Create"))
		}
   
	}
	
</P>

<div id="createDialog" title="Agregar" ></div>
<div id="editDialog" title="Editar"></div>

@Html.Partial("Mantenimientos/_GridMantenimientos")

<script type="text/javascript">

    $("#editDialog").CreateDialogWindow("editButton", "editDialog", "editMessage", "editForm");
  
    $("#createDialog").CreateDialogWindow("createButton", "createDialog", "createMesage", "createForm");


	function updateSuccess() {
	    if ($("#createMesage").html() == "True") {
			//we update the table's info
		
			//now we can close the dialog
	        $('#createDialog').dialog('close');

		    window.location.reload();
			
		}
		else {
		    $("#createMesage").show();
		}
	}


	function editSuccess() {
	    if ($("#editMessage").html() == "True") {
	        //we update the table's info

	        //now we can close the dialog
	        $('#editDialog').dialog('close');

	        window.location.reload();

	    }
	    else {
	        $("#editMessage").show();
	    }
	}
	
</script>
